// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

nav {
    border-bottom: 1px solid #fff !important;
}

textarea {
    resize: none !important;
}

.post {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-bottom: 5px;
}

.contentcontainer, .authcontainer {
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
    .contentcontainer {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 767px) {
    .contentcontainer {
        margin-left: 10px;
        margin-right: 10px;
    }
}